<nx-accordion variant="light" [multi]="true">
  <nx-expansion-panel [formGroup]="customerDetailsForm" [expanded]="false">
    <nx-expansion-panel-header>
      <nx-expansion-panel-title>
        <span class="customer-details__tick" [class.active--]="nomineeArrayForm.touched || nomineeArrayForm.valid">
          <nx-icon class="checked--" name="check-circle" size="s" *ngIf="nomineeArrayForm.valid">
          </nx-icon>
          <nx-icon class="warning--" name="exclamation-triangle"
            *ngIf="nomineeArrayForm.invalid && nomineeArrayForm.touched"></nx-icon>
        </span> Nomination form (optional)
      </nx-expansion-panel-title>
    </nx-expansion-panel-header>

    <div class="customer-details__content" formArrayName="nomineeArrayForm">
      <ng-container *ngFor="let allNominee of getAllNominee(customerDetailsForm); let p = index">
         <p nxCopytext="large" class="customer-details__content-title">
          <strong> Traveller {{p+1}} - {{getTravellerName(p)}}</strong>
        </p>
        <div class="customer-details__content-box  nx-margin-bottom-s" [formGroupName]="p">
          <div class="customer-details__content-section" formArrayName="nomineeArrayName">
            <div [formGroupName]="c" *ngFor="let nomineeArray of getNominee(allNominee); let c = index">              
               <div nxLayout="grid nogutters" class="nx-margin-bottom-m">
              <div nxRow   rowAlignItems="start,start,center">
                <div nxCol="12,12,6">
              <h3 nxHeadline="subsection-xsmall" class="nx-font-weight-semibold nx-margin-bottom-2xs">Nominee {{ c + 1 }}</h3>
              
                </div>
              <div nxCol="12,12,6">
                 <div class="two_buttons_right">
                  <nx-link>
                    <a (click)="!(nomineeArray.get('fullname')?.value == '' || nomineeArray.get('fullname')?.value == null) ? clearNomineeArray( p, c): ''"
                      [class]="(nomineeArray.get('fullname')?.value == '' || nomineeArray.get('fullname')?.value == null)? 'disabled': 'active'">
                      <nx-icon name="close" class="nx-marign"></nx-icon>CLEAR FIELDS</a>
                  </nx-link>

                  <nx-link class="nx-margin-left-xs button_right" (click)="removeNomineeArray( p, c)"
                    *ngIf="getNominee(allNominee).length > 1">
                    <a>
                      <nx-icon name="trash-o" class="nx-margin-right"></nx-icon>
                    </a>
                  </nx-link>
                 </div>
                </div>
              </div>
            </div>
            

              <div class="customer-details__content-input">
                <nx-formfield label="Full name as per ID">
                  <input nxInput formControlName="fullname" inputCapitalization (keyup)="validateNomineeArray(p,c)"
                    autocomplete="off" autocomplete="autocomplete_off_randString" />
                  <nx-error nxFormfieldError> Please enter the full name. </nx-error>
                </nx-formfield>
              </div>
              <div class="customer-details__content-col">
                <div class="customer-details__content-input">
                  <nx-formfield label="ID type">
                    <nx-dropdown formControlName="idType" (selectionChange)="idTypeNomineeArrayChange($event ,p,c)">
                      <nx-dropdown-item *ngFor="let custIDType of (custIDType$|async)" [value]="custIDType.Code">
                        {{custIDType.Description}}</nx-dropdown-item>
                    </nx-dropdown>
                    <nx-error nxFormfieldError> Please choose ID type. </nx-error>
                  </nx-formfield>
                </div>
                <div class="customer-details__content-input">
                  <nx-formfield label="ID no.">
                    <input nxInput validateMask="false" [nxMask]="
                  customerDetailsForm?.get('nomineeArrayForm').at(p).get('nomineeArrayName').at(c).get('idType')?.value === 'NRIC'
                        ? '000000-00-0000'
                        : 'AAAAAAAAAAAAAAAAAAAA'
                    " formControlName="idNo" autocomplete="off" />
                    <nx-error nxFormfieldError>
                      {{
                      customerDetailsForm?.get('nomineeArrayForm').at(p).get('nomineeArrayName').at(c).get('idNo')?.errors?.message
                      }} </nx-error>
                  </nx-formfield>
                </div>
                <div class="customer-details__content-input">
                  <nx-formfield label="Relationship">
                    <nx-dropdown required formControlName="relationship">
                      <nx-dropdown-item *ngFor="let relationship of (relationship$|async)" [value]="relationship.Code">
                        {{relationship.Description}}</nx-dropdown-item>
                    </nx-dropdown>
                    <nx-error nxFormfieldError> Please choose the role. </nx-error>
                  </nx-formfield>
                </div>
                <div class="customer-details__content-input banks-email--">
                  <nx-formfield label="Nationality">
                    <nx-dropdown formControlName="nationality" nxValue="my">
                      <nx-dropdown-item *ngFor="let nation of (nationality$ | async)" [value]="nation.Code">
                        {{nation.Description}}</nx-dropdown-item>
                    </nx-dropdown>
                  </nx-formfield>
                </div>
                <div class="customer-details__content-input">
                  <nx-formfield label="Percentage %">
                    <input nxInput numberOnly maxlength="3" placeholder="100" formControlName="percentage"
                      autocomplete="off" inputCapitalization (keyup)="percentageNomineeArrayChange($event, p)" />
                  </nx-formfield>
                </div>
              </div>
            </div>
            <nx-link
              *ngIf="getNominee(allNominee).length < 10 && customerDetailsForm?.get('nomineeArrayForm').at(p).get('totalPercentage')?.value < 100">
              <a (click)="addNomineeArray(p)">
                <nx-icon name="plus" size="s"></nx-icon>
                ADD NOMINEE</a>
            </nx-link>
            <div nxRow>
              <div nxCol="12">
                <hr class="nx-margin-y-m">
              </div>
            </div>
            <div nxRow>
              <div nxCol="12">
                <p nxCopytext="large" class="nx-font-weight-semibold text-center nx-margin-bottom-s" [ngClass]="customerDetailsForm?.get('nomineeArrayForm').at(p).get('nomineeArrayName')?.errors ? 'has-error-text':''">Total Percentage:
                  {{customerDetailsForm?.get('nomineeArrayForm').at(p).get('totalPercentage')?.value}} %
                </p>
                <nx-error class="nx-margin-bottom-xs"
                  *ngIf="customerDetailsForm?.get('nomineeArrayForm').at(p).get('nomineeArrayName')?.errors">Please
                  ensure
                  your total percentage for nominees is 100%
                </nx-error>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="customer-details__content-notes nx-margin-top-2m">
        <strong>Note:</strong> If the nomination form is not filled, in the event of claims, compensation for loss of
        life
        and the medical expenses of the Insured or his/her immediate family members shall be payable to the Insured or
        his/her
        legal personal representative (if the Insured is not married, the family members would be his/her parents,
        sisters
        and brothers. If the Insured is married the family members would be his/her spouse and children).
        <br><br>
      </div>
    </div>
  </nx-expansion-panel>
</nx-accordion>

