@import 'globals';
.get-info {
  &__info {
    padding: 43px 16px 40px;
    display: flex;
    justify-content: center;
    background-color: $dark-blue3;

    &-text {
      max-width: 575px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      font-weight: $fw-regular;
      color: $white;
    }

    span {
      color: $dark-blue2;
      font-weight: $fw-semibold;
    }
  }

  &__natural-language-form {
    padding: 46px 16px !important;
    text-align: center;

    @media ($bp-md) {
      max-width: 875px;
      margin-right: auto;
      margin-left: auto;
      padding: 60px 16px !important;
    }
  }

  &__acknowledgement {
    padding: 0 16px;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 46px;

    @media ($bp-mds) {
      margin-top: 60px;
      flex-direction: row;
      justify-content: center;
      row-gap: 0;
      column-gap: 32px;

      &.--referral {
        margin-top: 0px;
      }
    }
  }

  &__button {
    width: 100%;
    max-width: 288px;
    margin-right: auto;
    margin-left: auto;

    @media ($bp-mds) {
      max-width: 160px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  /*-- Start of banner --*/
  &__banner {
    padding: 46px 16px 60px;
    background-color: $dark-blue3;
    text-align: center;

    &-header {
      font-size: 35px;
      font-weight: $fw-light;
      line-height: 30px;
      letter-spacing: 0.3px;
      color: $white;

      @media ($bp-mds) {
        font-size: 40px;
        line-height: 48px;
      }
    }

    &-description {
      font-size: 16px;
      line-height: 24px;
      max-width: 730px;
      margin: 40px auto 0;
      color: $white;
    }

    @media ($bp-mds) {
      padding-top: 20px;
      padding-bottom: 20px;

      &-description {
        max-width: 730px;
        margin: 40px auto 0;
      }
    }
  }

  /*-- End of banner --*/
  /*-- Start of Documents --*/
  &__documents {
    padding: 46px 16px 60px;
    background-color: $blue;
    text-align: center;

    &-header {
      font-size: 35px;
      font-weight: $fw-light;
      line-height: 40px;
      letter-spacing: 0.3px;

      @media ($bp-mds) {
        font-size: 40px;
        line-height: 48px;
      }
    }

    &-description {
      margin-top: 32px;
      font-size: 16px;
      line-height: 24px;
      padding: 0 15px;
    }

    &-download-cta {
      width: 77%;
      margin-top: 32px;

      &.second-- {
        margin-top: 24px;
      }
    }

    @media ($bp-mds) {
      padding-top: 60px;
      padding-bottom: 80px;

      &-description {
        max-width: 730px;
        margin: 40px auto 0;
      }

      &-download-cta {
        margin-top: 40px;
      }
    }
  }

  /*-- End of Documents --*/
}
.customized_popup{
  .display_intial{
    display: initial;
  }
 .nx-font-weight-semibold{
    &.font_semibold{
        font-size: 18px !important;
      }
  }
  .text-center{
    text-align: center;
  }
    .customized_checkmark{
    li{
      font-size: 16px;
      .nx-list__icon{
         .ndbx-icon{
      &::before{
        color: green;
          }
      }
      }
     
    
    }
  }
}
 
.green_color{
  --list-icon-color: var(--success);
}

// @media only screen and (min-width: 704px){
// .cdk-overlay-pane{
//   max-width: 936px !important ; 
// width: 900px !important;
//     }
// }
@media only screen and (min-width: 704px){
::ng-deep nx-modal-container {
    max-width: 940px !important; }

}

@media (min-width: 704px){
    .left_column{
    ::ng-deep .nx-grid__column-medium-6 {
    flex: 0 0 55% !important;
    max-width: 55% !important;
  }
    }

    .right_column{
    ::ng-deep .nx-grid__column-medium-6 {
    flex: 0 0 45% !important;
    max-width: 45% !important;
  }
    }

}

  .text_white{
    color: $white;
  }
  .text_small{
    font-size: 12px;
    color: $white !important;
  }
  .nx-icon{
    &::before{
      color: red !important;
    }
  }
  


/*-- Start of Motorcycle Dialog --*/
.motorcycle-dialog {
  &__image {
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  &__header {
    margin-top: 24px;
    font-size: 26px;
    font-weight: $fw-light;
    line-height: 32px;
    letter-spacing: 0.3px;
    text-align: center;
  }

  &__description {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &__button {
    max-width: 343px;
    margin: 24px auto 0;
  }

  @media ($bp-mds) {
    &__image {
      width: 150px;
    }

    &__header {
      margin-top: 32px;
    }

    &__description {
      max-width: 475px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}