<nx-progress-stepper currentStepLabel="Step" #stepper>
  <nx-step label="Get A Quote"></nx-step>
  <nx-step label="Coverage Details"></nx-step>
  <nx-step label="Policyholder Details"></nx-step>
  <nx-step label="Policy Summary & Payment">
    <product-stage [productImage]="productData.logo" [header]="productData.product"
      [description]="productData.description">
    </product-stage>
    <div class="fail" *ngIf="paymentResult">
      <img class="fail__image" [src]="productData.imageFolder + 'people/agent-required.png'"
        alt="Textual description of agent-required.png" />
      <h2 class="fail__header">We're sorry!</h2>
      <p class="fail__subheader">Your payment was unsuccessful.</p>

      <div class="fail__info">
        <ng-container>
          <h3 class="fail__info-header">Payment status</h3>
          <p class="fail__info-body">{{(paymentResult?.QuotationProgress == 'PAYMENTFAIL') ? 'Payment failed' :
            'Payment pending'}}</p>
        </ng-container>
        <ng-container>
          <h3 class="fail__info-header">Payment reference no.</h3>
          <p class="fail__info-body"> {{paymentResult?.pymt.SubmissionNumber}}</p>
        </ng-container>
        <ng-container>
          <h3 class="fail__info-header">Error</h3>
          <p class="fail__info-body">{{payResParamDesc}}</p>
        </ng-container>
      </div>

      <div class="fail__summary">
        <h2 class="fail__summary-header">Quotation summary</h2>
        <div class="fail__summary-body">
          <div class="fail__summary-body-section">
            <h3 class="fail__summary-body-section-category">Product</h3>
            <p class="fail__summary-body-section-value">
              {{ productData.product }}
            </p>
          </div>
          <div *ngIf="(periodOfInsurance | json) != '{}'" class="fail__summary-body-section">
            <h3 class="fail__summary-body-section-category">Period of insurance</h3>
            <p class="fail__summary-body-section-value">
              {{periodOfInsurance.InceptionDate +' to '+
              periodOfInsurance.ExpiryDate }}
            </p>
          </div>
          <div class="fail__summary-body-section">
            <h3 class="fail__summary-body-section-category">Full name</h3>
            <p class="fail__summary-body-section-value">
              {{paymentResult?.ClientName}}
            </p>
          </div>
          <div class="fail__summary-body-section">
            <h3 class="fail__summary-body-section-category">Mobile no.</h3>
            <p class="fail__summary-body-section-value">
              {{ formatMobileNumber(paymentResult?.MobileNumber)}}
            </p>
          </div>
          <div class="fail__summary-body-section">
            <h3 class="fail__summary-body-section-category">Email address</h3>
            <p class="fail__summary-body-section-value">
              {{paymentResult?.EmailAddress}}
            </p>
          </div>
        </div>
        <hr />
        <p class="fail__summary-total">
          Total premium payable : {{paymentResult?.PremiumDueRounded | currency: 'RM '}}
        </p>
      </div>
      <div class="fail__buttons">
        <button class="fail__button" nxButton="primary" (click)="backto()">RETRY</button>
      </div>
    </div>
    <div class="fail" *ngIf="!paymentResult">
      <img class="fail__image" [src]="productData.imageFolder + 'people/agent-required.png'"
        alt="Textual description of agent-required.png" />
      <h2 class="fail__header">We're sorry!</h2>
      <p class="fail__subheader">Something went wrong.</p>

      <div class="fail__buttons" *ngIf="!otherConfigs.backToHome">
        <button class="fail__button" nxButton="primary" (click)="getStatus()">RETRY GET STATUS</button>
      </div>
    </div>
  </nx-step>
</nx-progress-stepper>