<ng-template #sharedDialog>
  <div class="agent-dialog">
    <img class="agent-dialog__image" [src]="imageFolder + 'people/agent-required.png'"
      alt="Textual description of agent-required.png" *ngIf="isFail" />
    <img class="agent-dialog__image" [src]="imageFolder + 'people/successful.png'"
      alt="Textual description of successful.png" *ngIf="!isFail" />
    <h3 class="agent-dialog__header">{{ header }}</h3>
    <p class="agent-dialog__description" [innerHTML]="description"></p>
    <p class="agent-dialog__description">
      <a href="{{link}}" target='_blank' class="agent-dialog__link" *ngIf="link != undefined">Click
        Here.</a>
    </p>
    <div>
      <button *ngIf="!routingPath && !pageUrl" class="agent-dialog__routing-button" nxButton
        (click)="close()">Close</button>
      <button *ngIf="routingPath" class="agent-dialog__routing-button" nxButton (click)="goToPage()">{{ buttonText
        }}</button>

      <button *ngIf="pageUrl" class="agent-dialog__routing-button" nxButton>
        <a [href]="pageUrl">{{ buttonText }}</a>
      </button>
    </div>
  </div>
</ng-template>