.azol__comparison-table {
  user-select: none;
  margin-top: 24px;

  &-recommended {
    padding: 6px 8px;

    &-title {
      font-size: 14px;
      font-weight: $fw-semibold;
      letter-spacing: 0.2px;
      line-height: 20px;
      text-align: center;
    }
  }

  &-header {
    padding: 0 2px 8px;

    &-title,
    &-premium {
      font-weight: $fw-semibold;
    }

    &-title {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.2px;
    }

    &-premium {
      margin-top: 10px;
      font-size: 20px;
      letter-spacing: 0.2px;
      line-height: 28px;
    }

    &-button {
      margin-top: 10px;
      width: 100% !important;
      padding: calc(8px - var(--button-border-width)) calc(10px - var(--button-border-width)) !important;
    }
  }

  &-row {
    display: flex;
    column-gap: 9px;
    justify-content: space-between;

    &-header {
      font-weight: $fw-semibold;
      line-height: 24px;
      word-break: keep-all;
      text-align: left;
    }

    &-detail {
      padding: 8px 2px;
    }
  }

  &-footer {
    &-button {
      width: 100% !important;
      padding: calc(8px - var(--button-border-width)) calc(10px - var(--button-border-width)) !important;
    }
  }

  @media ($bp-mds-dn) {
    table {
      tr {

        th:nth-of-type(n + 3),
        td:nth-of-type(n + 3) {
          min-width: 200px;
        }
      }
    }
  }

  @media ($bp-mds) {
    width: calc(100% + 64px);
    margin-left: -32px;

    table {
      tr {

        th:nth-of-type(n + 3),
        td:nth-of-type(n + 3) {
          min-width: 150px;
        }
      }
    }

    &-recommended {
      padding: 2px 0;

      &-title {
        font-weight: $fw-bold;
      }
    }

    &-header {
      padding: 0 6px;

      &-title {
        font-size: 16px;
        line-height: 24px;
      }

      &-premium {
        font-size: 24px;
        line-height: 32px;
      }

      &-button {
        margin-top: 14px;
      }
    }

    &-row {
      &-detail {
        padding: 0;
      }
    }

    &-footer {
      padding: 0 6px;

      &-plan {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.2px;
      }
    }
  }
}

.flexLess-- {
  @media ($bp-lg) {
    .nx-comparison-table__cell {
      flex: 0 1 150px !important;
    }

    .is-popular-placeholder-cell {
      flex: 0 1 150px !important;

      &:nth-child(1) {
        flex: 1 1 auto !important;
      }
    }

    .nx-comparison-table__popular-cell {
      flex: 0 1 150px !important;
    }
  }
}

.flexMore-- {
  @media (min-width:800px) and (max-width:865px) {
    .nx-comparison-table__cell-content {
      padding: 8px 0 !important;
    }
  }

  @media (min-width:992px) and (max-width:1055px) {
    .nx-comparison-table__cell {
      flex: 0 1 100px !important;
    }

    .nx-comparison-table__popular-cell {
      flex: 0 1 100px !important;
    }

    .is-popular-placeholder-cell {
      flex: 0 1 100px !important;

      &:nth-child(1) {
        flex: 1 1 auto !important;
      }
    }

    .nx-comparison-table__cell-content {
      padding: 8px 4px !important;
    }
  }

  @media (min-width:1055px) and (max-width:1280px) {
    .nx-comparison-table__cell {
      flex: 0 1 110px !important;
    }

    .nx-comparison-table__popular-cell {
      flex: 0 1 110px !important;
    }

    .is-popular-placeholder-cell {
      flex: 0 1 110px !important;

      &:nth-child(1) {
        flex: 1 1 auto !important;
      }
    }

    .nx-comparison-table__cell-content {
      padding: 8px 10px !important;
    }
  }

  @media ($bp-xl) {
    .nx-comparison-table__cell {
      flex: 0 1 125px !important;
    }

    .nx-comparison-table__popular-cell {
      flex: 0 1 125px !important;
    }

    .is-popular-placeholder-cell {
      flex: 0 1 125px !important;

      &:nth-child(1) {
        flex: 1 1 auto !important;
      }
    }
  }
}